<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="home-background">
    <div th:replace="~{fragments/icon_only_header :: header}"></div>
    <div class="dashboard-container">
      <h1
        th:text="${'Welcome, ' + user.firstName + ' ' + user.lastName + '!'}"
      ></h1>
      <p th:text="${'Your role: ' + user.role.name()}"></p>

      <h2 th:if="${user.role.name() =='BUYER'}">Buyer Dashboard</h2>
      <h2 th:if="${user.role.name() =='AGENT'}">Agent Dashboard</h2>
      <h2 th:if="${user.role.name() =='ADMIN'}">Admin Dashboard</h2>
      <hr />
      <div>
        <a th:href="@{/profile}" class="dashboard-link">My Profile</a>

        <div th:if="${user.role.name() == 'BUYER'}">
          <a th:href="@{/properties/list}" class="dashboard-link"
            >Browse Properties</a
          ><br />
          <a th:href="@{/favorites}" class="dashboard-link"
            >Saved Favorites
            <span
              th:if="${favoriteCount != null}"
              th:text="'(' + ${favoriteCount} + ')'"
            ></span></a
          ><br />
          <a th:href="@{/messages/inbox}" class="dashboard-link"
            >View Messages</a
          ><br />
        </div>
        <div th:if="${user.role.name() == 'AGENT'}">
          <a th:href="@{/properties/manage}" class="dashboard-link"
            >Manage Listing</a
          ><br />
          <a th:href="@{/properties/add}" class="dashboard-link"
            >Add New Property</a
          ><br />
          <a th:href="@{/messages/agent}" class="dashboard-link"
            >View Messages</a
          ><br />
        </div>
        <div th:if="${user.role.name() == 'ADMIN'}">
          <a th:href="@{/users/admin}" class="dashboard-link">Manage Users</a
          ><br />
          <a th:href="@{/users/admin/create-agent}" class="dashboard-link"
            >Create Agent</a
          ><br />
        </div>
      </div>
      <div class="logout-container">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-logout">Logout</button>
        </form>
      </div>
    </div>
  </body>
</html>
