<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="home-background">
  <div th:replace="~{fragments/header :: header}"></div>

  <div class="profile-container">
    <h1>My Profile</h1>

    <div class="user-detail-container">
      <p><strong>First Name: </strong><span th:text="${user.firstName}"></span></p>
      <p><strong>Last Name: </strong><span th:text="${user.lastName}"></span></p>
      <p><strong>Email: </strong><span th:text="${user.email}"></span></p>
      <p><strong>Role: </strong><span th:text="${user.role}"></span></p>
    </div>

    <div class="button-row">
      <a th:href="@{/edit_profile}" class="btn btn-primary">Edit Profile</a>
      <a th:href="@{/dashboard}" class="btn btn-primary">Back to Dashboard</a>
    </div>
  </div>
</body>
</html>