<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Manage Properties</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <h2>My Properties</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Price</th>
          <th>Location</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="property : ${properties}">
          <td th:text="${property.id}"></td>
          <td th:text="${property.title}"></td>
          <td th:text="${property.price}"></td>
          <td th:text="${property.location}"></td>
          <td th:text="${property.size}"></td>
          <td>
            <form
              th:action="@{'/properties/manage/delete/' + ${property.id}}"
              method="post"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
