<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="auth-container">
      <h1>Oops! Something went wrong.</h1>

      <h2 th:text="${error} + ' [' + ${status} + ']'"></h2>
      <h3 th:text="'End Point:  ' + ${path} + ' [' + ${method} + ']'"></h3>
      <h3 th:text="'Query Parameter: ' + ${query}"></h3>
      <h2
        th:if="${exceptionType != null}"
        th:text="${exceptionType} + ': ' + ${exceptionMessage}"
      ></h2>
      <h3
        th:if="${userAgent != null}"
        th:text="'User Agent: ' + ${userAgent}"
      ></h3>

      <a
        th:href="@{/dashboard}"
        style="display: block; text-align: center; margin-top: 20px"
      >
        <button type="button" class="btn btn-primary">Back</button>
      </a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
