<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Properties</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>
  <h2 th:text="${'Available Properties (' + properties.size() + ')'}"></h2>
  <form th:action="@{/properties/list}" method="get">
    <input type="text" name="zip" th:value="${zip}">
    <input type="number" name="minSqFt" th:value="${minSqFt}">
    <input type="number" name="minPrice" th:value="${minPrice}">
    <input type="number" name="maxPrice" th:value="${maxPrice}">
    <select>
      <option value="asc" th:selected="${sortBy =='asc'}">Price: Low to High</option>
      <option value="desc" th:selected="${sortBy =='desc'}">Price: High to Low</option>
    </select>
    <button type="submit">Search</button>
    <a href="/properties/list"><button type="button">Clear</button></a>
  </form>

  <table>
    <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Price</th>
      <th>Location</th>
      <th>Sq. Ft.</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="property : ${properties}">
      <td>
        <div>
          <img th:src="@{'/PropertyImages/' + ${property.title} + '/' + ${property.images[0].imageFileName}}"
               alt="Property Image"
               width="150">
        </div>
      </td>
      <td th:text="${property.title}">Title</td>
      <td th:text="${property.price.intValue()}">Price</td>
      <td th:text="${property.location}">Location</td>
      <td th:text="${property.size}">Sq. Ft</td>
      <td>
        <a th:href="@{/properties/view/{id}(id=${property.id})}">
          View Details
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>