<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <title>Hot Properties Header</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header th:fragment="header" class="site-header">
      <div class="logo-container">
        <a th:href="@{/}">
          <img
            th:src="@{/images/logo.png}"
            alt="Hot Properties Logo"
            class="site-logo-img"
          />
        </a>
      </div>
      <nav class="main-nav">
        <ul sec:authorize="isAuthenticated()">
          <li><a th:href="@{/dashboard}" class="nav-button">🡸 Dashboard</a></li>
        </ul>
        <ul sec:authorize="!isAuthenticated()">
          <li><a th:href="@{/login}" class="nav-button">Login</a></li>
          <li><a th:href="@{/register}" class="nav-button">Register</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
